@import ../variables

.card
    padding: 1.5em
    padding-block: 5em
    text-align: left

    img
        width: 100%

    h4
        @include Subtitles($grayText)
        margin-bottom: 2em
        padding-top: 2em

    h1
        @include Titles(black)

    p
        @include Text()
        padding-top: 1em

    button
        margin-top: 2em


.card--shadow
    padding: 1.5em
    margin: 1.5em
    text-align: left
    box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1)

    img
        width: 100%

    h4
        @include Subtitles($grayText)
        margin-bottom: 2em
        padding-top: 2em

    h1
        font-family: "Old Standard TT"
        font-weight: 100
        font-size: 2rem

    p
        @include Text()
        padding-top: 1.5em

    button
        margin-top: 1em


.card--shadow2
    padding: 1.5em
    margin: 1.5em
    text-align: left
    box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1)

    img
        width: 100%

    h4
        @include Subtitles($grayText)
        margin-bottom: 2em
        padding-top: 2em

    h1
        font-family: "Old Standard TT"
        font-weight: 100
        font-size: 2rem

    p
        @include Text()
        padding-top: 1.5em

    button
        margin-top: 1em
        box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.36)


.card--black
    padding: 1.5em
    padding-block: 3em
    text-align: left
    background: $black

    img
        width: 100%

    h4
        @include Subtitles($mainColor)
        margin-bottom: 2em
        padding-top: 2em

    h1
        @include Titles(white)

    p
        @include Text(white)
        padding-top: 1em

    button
        margin-top: 2em

    .videoWrapper
        margin-top: 1.5em
