@import ../variables

.card
    padding: 1.5em
    padding-block: 5em
    text-align: left

    img
        width: 100%

    h4
        @include Subtitles($grayText)
        margin-bottom: 2em
        padding-top: 2em

    h1
        @include Titles(black)

    p
        @include Text()
        padding-top: 1em

    button
        margin-top: 2em


.card--details
    padding: 1.5em
    padding-block: 2em
    text-align: left

    img
        width: 100%

    h4
        color: $grayText
        font-family: "Archivo"
        font-weight: 600
        font-size: 0.8rem
        letter-spacing: 0.2rem
        margin-bottom: 1.5em
        padding-top: 2em

    h1
        @include SmallTitles(black)

    h2
        @include Night
        padding-block: 1em

        strong
            @include Price
    
    form
        padding-block: 2em
        font-family: Archivo

        h3
            text-align: center
            font-size: 1.1rem
            font-weight: 700

        p
            font-size: 0.85rem
            font-weight: 700
            color: black

        input[type="date"]
            font-family: Archivo
            color: $grayText
            border: none
            background-color: rgba(248, 248, 248, 1)
            width: 100%
            padding: 1.5em
            margin-top: 0.5em

        input::-webkit-calendar-picker-indicator 
            font-size: 1.1rem
            filter: invert(84%) sepia(1%) saturate(0%) hue-rotate(6deg) brightness(60%)

        input[type="submit"]
            margin-inline: 0
            width: 100%


    p
        @include Text()
        padding-top: 1em


.card--offer
    margin: 1.5em
    text-align: left
    box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1)

    picture
        text-align: right
        position: relative

        img
            width: 100%

        div
            position: absolute
            bottom: 1em
            right: 1em

            h3
                color: $mainColor
                font-family: "Archivo"
                font-size: 0.6rem

                strong
                    font-size: 1.1rem
                    text-decoration: line-through
            
            h2
                color: rgba(222, 87, 119, 1)
                font-family: "Archivo"
                font-size: 0.6rem

                strong
                    font-size: 1.5rem

    &__info
        padding: 1.5em
        padding-top: 0

        h4
            color: $grayText
            font-family: "Archivo"
            font-weight: 600
            font-size: 0.8rem
            letter-spacing: 0.3rem
            margin-bottom: 1.5em
            padding-top: 2em

        h1
            font-family: "Old Standard TT"
            font-weight: 100
            font-size: 2.3rem

        p
            font-family: "Archivo"
            font-size: 0.85rem
            line-height: 1.4rem
            color: $grayText
            padding-top: 1.5em

        ul
            list-style: none
            column-count: 2
            padding-top: 1em

            li
                list-style: none
                display: flexbox
                padding-block: 0.5em
                align-items: center

                img
                    display: inline-flex
                    padding-right: 0.5em
                    width: 1.2em
                    height: 1.2em

                p
                    display: inline-flex
                    padding: 0

        button
            margin-top: 1em


.card--shadow2
    padding: 1.5em
    margin: 1.5em
    text-align: left
    box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1)

    img
        width: 100%

    h4
        @include Subtitles($grayText)
        margin-bottom: 2em
        padding-top: 2em

    h1
        font-family: "Old Standard TT"
        font-weight: 100
        font-size: 2rem

    p
        @include Text()
        padding-top: 1.5em

    button
        margin-top: 1em
        box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.36)


.card--black
    padding: 1.5em
    padding-block: 3em
    text-align: left
    background: $black

    img
        width: 100%

    h4
        @include Subtitles($mainColor)
        margin-bottom: 2em
        padding-top: 2em

    h1
        @include Titles(white)

    p
        @include Text(white)
        padding-top: 1em

    button
        margin-top: 2em

    .show
        display: none

    .videoWrapper
        margin-top: 1.5em


@media only screen and (min-width: 1000px)

    .card--black
        display: inline-flex
        width: 100%
        height: 26em
        justify-content: center
        gap: 5em
        position: relative
        
        .card__info
            text-align: left
            max-width: 30em
            position: relative
        
        .hide
            display: none

        .show
            display: block

        button
            position: absolute
            bottom: 4em
            margin: auto

        .videoWrapper
            margin: 0
            display: block
            width: 25%
            height: 16.9em
            padding-top: 4em
            z-index: 1

            iframe
                margin: 0
                position: static

        &__decoration
            position: absolute
            width: 30%
            height: 100%
            background-color: $mainColor
            right: 0
            top: 0