@import ../variables

.card
    padding: 1.5em
    padding-block: 5em
    text-align: left

    h4
        @include Subtitles($grayText)
        margin-bottom: 2em

    h1
        @include Titles(back)

    p
        @include Text()
        padding-top: 1em

    button
        margin-top: 2em

    .videoWrapper 
        position: relative
        padding-bottom: 56.25% 
        height: 0
    
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

.card--black
    padding: 1.5em
    padding-block: 3em
    text-align: left
    background: $black

    h4
        @include Subtitles($mainColor)
        margin-bottom: 2em

    h1
        @include Titles(white)

    p
        @include Text(white)
        padding-top: 1em

    button
        margin-top: 2em

    .videoWrapper 
        margin-top: 1.5em
        position: relative
        padding-bottom: 56.25% 
        height: 0
    
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%