@import ../variables
    
footer
    padding-top: 2em
    overflow: hidden
    position: relative
    padding: 1.5em
    padding-top: 4em

    .background
        opacity: 0.01
        position: absolute
        left: 0
        top: 0
        height: 100%
        z-index: -1

    h4
        @include Text2
        padding-block: 2em

    h3
        font-family: "Old Standard TT"
        font-weight: 100
        font-size: 1.4rem

    .list
        width: 100%
        display: inline-grid
        grid-template-columns: 10em auto
        padding-bottom: 1em


        ul
            display: block
            padding-block: 1em
            
            li
                font-family: "Roboto"
                font-size: 0.85rem
                line-height: 1.4rem
                font-weight: 300
                list-style: none
                padding-block: 0.7em

    picture
        display: inline-flex
        h4
            font-family: "Old Standard TT"
            font-weight: 100
            font-size: 1.4rem
            padding: 0

