@import ../variables
    
header
    background-color: $darkGray
    padding: 1.5em
    padding-block: 5em
    padding-top: 9em
    position: relative

    h4
        @include Subtitles
        margin-bottom: 2em

    h1
        @include Titles

    button
        background-color: $mainColorInDark
        margin-top: 3em

    button:last-of-type
        background-color: rgba(0, 0, 0, 0)
        border: 2px solid $gray
        margin-top: 2em

    .return
        position: absolute
        bottom: 0
        background-color: white
        padding-inline: 1em
        padding-block: 0.8em
        right: 1em

        p
            font-family: "Archivo"
            font-size: 0.9rem
            font-weight: 700
            word-spacing: 0.5em

            a
                text-decoration: none
                color: black

            span
                color: $mainColor
                word-spacing: 0.1em


@media only screen and (min-width: 1000px)
            
    header
        padding-top: 7em
        padding-inline: 20%

        h1
            font-family: "Old Standard TT"
            font-weight: 100
            font-size: 6rem

        div
            display: inline-flex
            padding-top: 1em
            gap: 2em

            button, button:last-of-type
                margin: 0

        .return
            right: 20em
            


        