@import ../variables

.picker
    display: flexbox
    justify-items: center
    text-align: center

    h4
        @include Subtitles($grayText)
        margin-bottom: 1em

    h1
        @include Titles(black)
        margin-bottom: 0.3em

    .swiper
        width: 100%
        height: 30em
        z-index: 0
        padding: 0

        .swiper-button-next
            width: 2em
            height: 2em
            background-color: $mainColor
            color: white
            top: var(--swiper-navigation-top-offset, 35%)

        .swiper-button-next::after
            font-size: 0.5em

        .swiper-button-prev
            width: 2em
            height: 2em
            background-color: $mainColor
            color: white
            top: var(--swiper-navigation-top-offset, 35%)

        .swiper-button-prev::after
            font-size: 0.5em

        .swiper-button-disabled
            color: black
            background-color: white
            opacity: 1

        .swiper-wrapper
            margin: 0
            padding: 0

            .swiper-slide
                margin: 0
                padding: 0
                position: relative

        picture
            display: inline-flex
            background-color: white
            padding: 0.5em
            position: absolute
            left: 0
            right: 0
            top: 1em
            width: fit-content
            margin: auto

            img
                padding-inline: 0.5em

        .slide-image
            width: 100%
            height: 267px
            margin-top: 2em

        .slide-info
            display: flexbox
            width: 90%
            justify-items: center
            background-color: white
            padding: 0.5em
            position: absolute
            top: 17.5em
            left: 0
            right: 0
            margin: auto

            h3
                @include SmallTitles
                margin-bottom: 0.5em

            h5
                width: 80%
                margin-inline: auto
                margin-bottom: 1em
                @include Text2

            p
                @include Night

                strong
                    @include Price


@media only screen and (min-width: 1000px)

    .picker

        .swiper
            height: fit-content

            .slide-image
                width: 35em
                height: 22em
                margin-top: 2em
                padding-bottom: 10em

            .slide-info
                top: 21em
                width: 28em
                display: inline-flex
                text-align: left
                align-items: center
                padding: 1em
                gap: 2.5em

                div
                    h5
                        padding: 0
                        margin: 0
                        width: 100%

            .swiper-button-next
                right: 30%
                top: var(--swiper-navigation-top-offset, 40%)
                width: 3em
                height: 3em

            .swiper-button-prev
                left: 30%
                top: var(--swiper-navigation-top-offset, 40%)
                width: 3em
                height: 3em

            .swiper-button-prev::after
                font-size: 1em

            .swiper-button-next::after
                font-size: 1em

        