@import ../variables
    
@import ../components/header
@import ../components/button
@import ../components/nav
@import ../components/card
@import ../components/footer
@import ../components/slider
@import ../components/facilities

.about-us
    .presentation
        text-align: center
        padding-top: 4em

        .videoContainer
            padding-inline: 1.5em

        h2
            padding-top: 1em
            @include SmallTitles
            padding-bottom: 2em
            padding-inline: 1.5em

        .picture
            min-width: 300px

    .facilities--dark
        padding-block: 2em

        .swiper
            padding-bottom: 2em
            
    