header {
  background-color: rgb(51, 51, 51);
  padding: 1.5em;
  padding-block: 5em;
  padding-top: 9em;
  position: relative;
}
header h4 {
  color: white;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2em;
}
header h1 {
  color: white;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3rem;
}
header button {
  background-color: rgb(190, 173, 142);
  margin-top: 3em;
}
header button:last-of-type {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(189, 189, 189);
  margin-top: 2em;
}
header .return {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-inline: 1em;
  padding-block: 0.8em;
  right: 1em;
}
header .return p {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 700;
  word-spacing: 0.5em;
}
header .return p a {
  text-decoration: none;
  color: black;
}
header .return p span {
  color: rgb(190, 173, 142);
  word-spacing: 0.1em;
}

@media only screen and (min-width: 1000px) {
  header {
    padding-top: 7em;
    padding-inline: 20%;
  }
  header h1 {
    font-family: "Old Standard TT";
    font-weight: 100;
    font-size: 6rem;
  }
  header div {
    display: inline-flex;
    padding-top: 1em;
    gap: 2em;
  }
  header div button, header div button:last-of-type {
    margin: 0;
  }
}
button {
  background-color: rgb(190, 173, 142);
  color: white;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  border: none;
  display: block;
  width: 15em;
  height: 4.5em;
}

input[type=submit] {
  margin: auto;
  margin-top: 1em;
  background-color: rgb(190, 173, 142);
  color: white;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  border: none;
  display: block;
  width: 20em;
  height: 4em;
}

nav {
  background-color: rgb(34, 34, 34);
}

.navbar {
  position: fixed;
  display: inline-flex;
  height: 70px;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  z-index: 5;
}
.navbar__left {
  display: inline-flex;
}
.navbar__left__menu {
  width: 1.3em;
  padding: 1em;
}
.navbar__left__logo {
  padding-inline: 1em;
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
.navbar__left__logo img:first-child {
  box-shadow: 0px 5px 10px 0px rgb(223, 223, 223);
}
.navbar__right {
  display: inline-flex;
  padding-inline: 1em;
  gap: 1.5em;
}
.navbar .nav-links {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 4.34em;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  padding: 1em;
  z-index: 4;
}
.navbar .nav-links ul {
  list-style: none;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 600;
}
.navbar .nav-links ul li {
  padding-block: 0.5em;
}
.navbar .nav-links ul li a {
  text-decoration: none;
  color: black;
}
.navbar .nav-links--hide {
  display: none;
}

@media only screen and (min-width: 1000px) {
  nav {
    padding-top: 0.5em;
  }
  .navbar {
    margin-top: 1em;
    margin-bottom: -2em;
    position: relative;
    width: 80%;
    display: flex;
    margin-inline: auto;
    padding-inline: 1em;
  }
  .navbar__left__menu {
    display: none;
  }
  .navbar__right img {
    padding: 0.3em;
    border: solid 2px rgb(249, 249, 249);
  }
  .navbar .nav-links, .navbar .nav-links--hide {
    display: block;
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    top: 1.5em;
    left: 15em;
    margin: auto;
    z-index: 5;
    list-style: none;
    font-family: "Archivo";
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navbar .nav-links li, .navbar .nav-links--hide li {
    padding-block: 0.5em;
    display: inline-flex;
    padding-right: 2em;
  }
  .navbar .nav-links li a, .navbar .nav-links--hide li a {
    text-decoration: none;
    color: black;
  }
  .navbar img:hover {
    cursor: pointer;
  }
}
.card {
  padding: 1.5em;
  padding-block: 5em;
  text-align: left;
}
.card img {
  width: 100%;
}
.card h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2em;
  padding-top: 2em;
}
.card h1 {
  color: black;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3rem;
}
.card p {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.3rem;
  padding-top: 1em;
}
.card button {
  margin-top: 2em;
}

.card--details {
  padding: 1.5em;
  padding-block: 2em;
  text-align: left;
}
.card--details img {
  width: 100%;
}
.card--details h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5em;
  padding-top: 2em;
}
.card--details h1 {
  color: black;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.7rem;
}
.card--details h2 {
  color: rgb(190, 173, 142);
  font-family: "Archivo";
  font-size: 0.7rem;
  padding-block: 1em;
}
.card--details h2 strong {
  color: rgb(190, 173, 142);
  font-family: "Archivo";
  font-size: 1.4rem;
}
.card--details form {
  padding-block: 2em;
  font-family: Archivo;
}
.card--details form h3 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
}
.card--details form p {
  font-size: 0.85rem;
  font-weight: 700;
  color: black;
}
.card--details form input[type=date] {
  font-family: Archivo;
  color: rgb(119, 119, 119);
  border: none;
  background-color: rgb(248, 248, 248);
  width: 100%;
  padding: 1.5em;
  margin-top: 0.5em;
}
.card--details form input::-webkit-calendar-picker-indicator {
  font-size: 1.1rem;
  filter: invert(84%) sepia(1%) saturate(0%) hue-rotate(6deg) brightness(60%);
}
.card--details form input[type=submit] {
  margin-inline: 0;
  width: 100%;
}
.card--details p {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.3rem;
  padding-top: 1em;
}

.card--offer {
  margin: 1.5em;
  text-align: left;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);
}
.card--offer picture {
  text-align: right;
  position: relative;
}
.card--offer picture img {
  width: 100%;
}
.card--offer picture div {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.card--offer picture div h3 {
  color: rgb(190, 173, 142);
  font-family: "Archivo";
  font-size: 0.6rem;
}
.card--offer picture div h3 strong {
  font-size: 1.1rem;
  text-decoration: line-through;
}
.card--offer picture div h2 {
  color: rgb(222, 87, 119);
  font-family: "Archivo";
  font-size: 0.6rem;
}
.card--offer picture div h2 strong {
  font-size: 1.5rem;
}
.card--offer__info {
  padding: 1.5em;
  padding-top: 0;
}
.card--offer__info h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5em;
  padding-top: 2em;
}
.card--offer__info h1 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 2.3rem;
}
.card--offer__info p {
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: rgb(119, 119, 119);
  padding-top: 1.5em;
}
.card--offer__info ul {
  list-style: none;
  -moz-column-count: 2;
       column-count: 2;
  padding-top: 1em;
}
.card--offer__info ul li {
  list-style: none;
  display: flexbox;
  padding-block: 0.5em;
  align-items: center;
}
.card--offer__info ul li img {
  display: inline-flex;
  padding-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
}
.card--offer__info ul li p {
  display: inline-flex;
  padding: 0;
}
.card--offer__info button {
  margin-top: 1em;
}

.card--shadow2 {
  padding: 1.5em;
  margin: 1.5em;
  text-align: left;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);
}
.card--shadow2 img {
  width: 100%;
}
.card--shadow2 h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2em;
  padding-top: 2em;
}
.card--shadow2 h1 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 2rem;
}
.card--shadow2 p {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.3rem;
  padding-top: 1.5em;
}
.card--shadow2 button {
  margin-top: 1em;
  box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.36);
}

.card--black {
  padding: 1.5em;
  padding-block: 3em;
  text-align: left;
  background: rgb(34, 34, 34);
}
.card--black img {
  width: 100%;
}
.card--black h4 {
  color: rgb(190, 173, 142);
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2em;
  padding-top: 2em;
}
.card--black h1 {
  color: white;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3rem;
}
.card--black p {
  color: white;
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.3rem;
  padding-top: 1em;
}
.card--black button {
  margin-top: 2em;
}
.card--black .show {
  display: none;
}
.card--black .videoWrapper {
  margin-top: 1.5em;
}

@media only screen and (min-width: 1000px) {
  .card--black {
    display: inline-flex;
    width: 100%;
    height: 26em;
    justify-content: center;
    gap: 5em;
    position: relative;
  }
  .card--black .card__info {
    text-align: left;
    max-width: 30em;
    position: relative;
  }
  .card--black .hide {
    display: none;
  }
  .card--black .show {
    display: block;
  }
  .card--black button {
    position: absolute;
    bottom: 4em;
    margin: auto;
  }
  .card--black .videoWrapper {
    margin: 0;
    display: block;
    width: 25%;
    height: 16.9em;
    padding-top: 4em;
    z-index: 1;
  }
  .card--black .videoWrapper iframe {
    margin: 0;
    position: static;
  }
  .card--black__decoration {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: rgb(190, 173, 142);
    right: 0;
    top: 0;
  }
}
footer .footer-info {
  overflow: hidden;
  position: relative;
  padding: 1.5em;
  padding-top: 2em;
}
footer .footer-info .background {
  opacity: 0.01;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
footer .footer-info h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 300;
  padding-block: 2em;
}
footer .footer-info h3 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.4rem;
  padding-bottom: 1em;
}
footer .footer-info__social {
  padding-bottom: 2em;
}
footer .footer-info__social img {
  padding-right: 0.5em;
}
footer .footer-info .list {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 10em auto;
  padding-bottom: 1em;
}
footer .footer-info .list ul {
  display: block;
  padding-bottom: 1em;
}
footer .footer-info .list ul li {
  font-family: "Roboto";
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 400;
  list-style: none;
  padding-block: 0.7em;
  color: rgb(119, 119, 119);
}
footer .footer-info picture {
  display: inline-flex;
  height: 2em;
  padding-block: 1em;
  padding-inline-end: 1.5em;
  gap: 1.2em;
}
footer .footer-info picture h4 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1rem;
  padding: 0;
  color: black;
}
footer .footer-info picture p {
  font-family: "Roboto";
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 300;
  color: rgb(119, 119, 119);
}
footer .footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 249, 249);
  padding-inline: 1.5em;
  padding-block: 0.5em;
  gap: 0.5em;
}
footer .footer p {
  font-family: "Roboto";
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 700;
}

@media only screen and (min-width: 1000px) {
  footer .footer-info {
    display: inline-flex;
    justify-content: center;
  }
  footer .footer-info div {
    max-width: 10em;
  }
}
.slider .swiper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 0;
  padding: 0;
}
.slider .swiper .swiper-wrapper {
  margin: 0;
  padding: 0;
}
.slider .swiper .swiper-wrapper .swiper-slide {
  margin: 0;
  padding: 0;
  position: relative;
}
.slider .swiper .swiper-pagination-bullet {
  background-color: rgb(189, 189, 189);
}
.slider .swiper .swiper-pagination-bullet-active {
  background-color: rgb(190, 173, 142);
}
.slider--pagination .swiper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 0;
  margin-bottom: 2em;
}
.slider--pagination .swiper-wrapper {
  margin: 0;
  padding: 0;
}
.slider--pagination .swiper-wrapper .swiper-slide {
  margin: 0;
  padding-bottom: 3em;
  position: relative;
}
.slider--pagination .swiper-pagination-bullet {
  border-radius: 0;
  opacity: 1;
  width: 2em;
  height: 1.75em;
  padding-top: 0.25em;
  background-color: white;
  color: black;
  font-family: "Oswald";
}
.slider--pagination .swiper-pagination-bullet-active {
  background-color: rgb(190, 173, 142);
  color: white;
}
.slider--pagination .swiper-pagination-bullet span {
  padding-bottom: 0.7em;
}

.facilities {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
}
.facilities h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  padding-bottom: 1em;
}
.facilities h1 {
  color: black;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3rem;
}
.facilities .slide {
  margin: 1.5em;
  text-align: left;
  position: relative;
}
.facilities .slide h2 {
  position: absolute;
  color: rgb(249, 249, 249);
  top: 0.1em;
  right: 0.3em;
  font-family: "Archivo";
  font-size: 7em;
}
.facilities .slide img {
  padding-top: 4em;
}
.facilities .slide h3 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.6rem;
  padding-block: 0.8em;
}
.facilities .slide p {
  color: rgb(34, 34, 34);
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 300;
  padding-bottom: 2em;
}

.facilities--dark {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
  background-color: rgb(34, 34, 34);
}
.facilities--dark h4 {
  color: white;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  padding-bottom: 1em;
}
.facilities--dark h1 {
  color: white;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3rem;
}
.facilities--dark .slide {
  margin: 1em;
  padding: 1em;
  text-align: left;
  position: relative;
  background-color: rgb(41, 41, 41);
}
.facilities--dark .slide h2 {
  position: absolute;
  top: 0.1em;
  right: 0.3em;
  font-family: "Archivo";
  font-size: 7em;
  color: rgb(34, 34, 34);
}
.facilities--dark .slide img {
  padding-top: 4em;
}
.facilities--dark .slide h3 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.6rem;
  padding-block: 0.8em;
  color: white;
}
.facilities--dark .slide p {
  color: white;
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 300;
  padding-bottom: 2em;
}

.about-us .presentation {
  text-align: center;
  padding-top: 4em;
}
.about-us .presentation .videoContainer {
  padding-inline: 1.5em;
}
.about-us .presentation h2 {
  padding-top: 1em;
  color: black;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.7rem;
  padding-bottom: 2em;
  padding-inline: 1.5em;
}
.about-us .presentation .picture {
  min-width: 300px;
}
.about-us .facilities--dark {
  margin-top: 4em;
  padding-block: 2em;
}
.about-us .facilities--dark .swiper {
  padding-bottom: 2em;
}
.about-us .counter {
  padding: 1.5em;
}
.about-us .counter h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  padding-top: 2em;
}
.about-us .counter h2 {
  color: black;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3rem;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
}
.about-us .counter picture {
  display: inline-flex;
  align-items: center;
  padding-block: 2em;
  padding-left: 0.5em;
}
.about-us .counter picture__ico {
  width: 4em;
}
.about-us .counter picture div {
  width: 8em;
  padding-left: 1em;
}
.about-us .counter picture div h2 {
  padding: 0;
  line-height: 2.3rem;
}
.about-us .counter picture div p {
  font-family: "Roboto";
  color: rgb(119, 119, 119);
  font-size: 0.8rem;
  padding-top: 0.5em;
}
.about-us .counter__arrow {
  width: 2em;
  padding-left: 1em;
  filter: invert(84%) sepia(1%) saturate(0%) hue-rotate(6deg) brightness(220%);
}
.about-us .counter .slider {
  padding-top: 1.5em;
  padding-bottom: 1em;
}
.about-us .counter .slider img {
  width: 100%;
  height: 14em;
  padding-bottom: 2em;
}/*# sourceMappingURL=about-us.css.map */