@import ../variables
    
@import ../components/header
@import ../components/button
@import ../components/nav
@import ../components/card
@import ../components/footer
@import ../components/slider
@import ../components/facilities

.about-us
    .presentation
        text-align: center
        padding: 1.5em
        padding-top: 4em

        h2
            padding-top: 1em
            @include SmallTitles
            padding-bottom: 2em
    