header {
  background-color: rgb(51, 51, 51);
  padding: 1.5em;
  padding-block: 5em;
  padding-top: 9em;
  position: relative;
}
header h4 {
  color: white;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2em;
}
header h1 {
  color: white;
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 3rem;
}
header button {
  background-color: rgb(190, 173, 142);
  margin-top: 3em;
}
header button:last-of-type {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(189, 189, 189);
  margin-top: 2em;
}
header .return {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-inline: 1em;
  padding-block: 0.8em;
  right: 1em;
}
header .return p {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 700;
  word-spacing: 0.5em;
}
header .return p a {
  text-decoration: none;
  color: black;
}
header .return p span {
  color: rgb(190, 173, 142);
  word-spacing: 0.1em;
}

@media only screen and (min-width: 1000px) {
  header {
    padding-top: 7em;
    padding-inline: 20%;
  }
  header h1 {
    font-family: "Old Standard TT";
    font-weight: 100;
    font-size: 6rem;
  }
  header div {
    display: inline-flex;
    padding-top: 1em;
    gap: 2em;
  }
  header div button, header div button:last-of-type {
    margin: 0;
  }
  header .return {
    right: 20em;
  }
}
button {
  background-color: rgb(190, 173, 142);
  color: white;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  border: none;
  display: block;
  width: 15em;
  height: 4.5em;
}

input[type=submit] {
  margin: auto;
  margin-top: 1em;
  background-color: rgb(190, 173, 142);
  color: white;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  border: none;
  display: block;
  width: 20em;
  height: 4em;
}

nav {
  background-color: rgb(34, 34, 34);
}

.navbar {
  position: fixed;
  display: inline-flex;
  height: 70px;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  z-index: 5;
}
.navbar__left {
  display: inline-flex;
}
.navbar__left__menu {
  width: 1.3em;
  padding: 1em;
}
.navbar__left__logo {
  padding-inline: 1em;
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
.navbar__left__logo img:first-child {
  box-shadow: 0px 5px 10px 0px rgb(223, 223, 223);
}
.navbar__right {
  display: inline-flex;
  padding-inline: 1em;
  gap: 1.5em;
}
.navbar .nav-links {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 4.34em;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  padding: 1em;
  z-index: 4;
}
.navbar .nav-links ul {
  list-style: none;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 600;
}
.navbar .nav-links ul li {
  padding-block: 0.5em;
}
.navbar .nav-links ul li a {
  text-decoration: none;
  color: black;
}
.navbar .nav-links--hide {
  display: none;
}

@media only screen and (min-width: 1000px) {
  nav {
    padding-top: 0.5em;
  }
  .navbar {
    margin-top: 1em;
    margin-bottom: -2em;
    position: relative;
    width: 80%;
    display: flex;
    margin-inline: auto;
    padding-inline: 1em;
  }
  .navbar__left__menu {
    display: none;
  }
  .navbar__right img {
    padding: 0.3em;
    border: solid 2px rgb(249, 249, 249);
  }
  .navbar .nav-links, .navbar .nav-links--hide {
    display: block;
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    top: 1.5em;
    left: 15em;
    margin: auto;
    z-index: 5;
    list-style: none;
    font-family: "Archivo";
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navbar .nav-links li, .navbar .nav-links--hide li {
    padding-block: 0.5em;
    display: inline-flex;
    padding-right: 2em;
  }
  .navbar .nav-links li a, .navbar .nav-links--hide li a {
    text-decoration: none;
    color: black;
  }
  .navbar img:hover {
    cursor: pointer;
  }
}
footer .footer-info {
  overflow: hidden;
  position: relative;
  padding: 1.5em;
  padding-top: 2em;
}
footer .footer-info .background {
  opacity: 0.01;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
footer .footer-info h4 {
  color: rgb(119, 119, 119);
  font-family: "Archivo";
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 300;
  padding-block: 2em;
}
footer .footer-info h3 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.4rem;
  padding-bottom: 1em;
}
footer .footer-info__social {
  padding-bottom: 2em;
}
footer .footer-info__social img {
  padding-right: 0.5em;
}
footer .footer-info .list {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 10em auto;
  padding-bottom: 1em;
}
footer .footer-info .list ul {
  display: block;
  padding-bottom: 1em;
}
footer .footer-info .list ul li {
  font-family: "Roboto";
  font-size: 0.85rem;
  line-height: 1.4rem;
  font-weight: 400;
  list-style: none;
  padding-block: 0.7em;
  color: rgb(119, 119, 119);
}
footer .footer-info picture {
  display: inline-flex;
  height: 2em;
  padding-block: 1em;
  padding-inline-end: 1.5em;
  gap: 1.2em;
}
footer .footer-info picture h4 {
  font-family: "Old Standard TT";
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1rem;
  padding: 0;
  color: black;
}
footer .footer-info picture p {
  font-family: "Roboto";
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 300;
  color: rgb(119, 119, 119);
}
footer .footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 249, 249);
  padding-inline: 1.5em;
  padding-block: 0.5em;
  gap: 0.5em;
}
footer .footer p {
  font-family: "Roboto";
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 700;
}

@media only screen and (min-width: 1000px) {
  footer {
    overflow: hidden;
  }
  footer .background {
    width: 100%;
  }
  footer .footer-info {
    padding-left: 5%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 2em;
  }
  footer .footer-info div {
    max-width: 25em;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .footer {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.contact .data {
  padding: 1.5em;
  padding-top: 4em;
}
.contact .data picture {
  position: relative;
  display: flex;
  height: 12em;
  padding-block: 1em;
}
.contact .data picture img {
  width: 2.5em;
  height: 2.5em;
}
.contact .data picture h2 {
  position: absolute;
  z-index: -1;
  font-family: Roboto;
  font-size: 11rem;
  font-weight: 700;
  letter-spacing: -6px;
  color: rgb(248, 248, 248);
  top: 0;
  right: 0;
  line-height: 0.8em;
  text-align: right;
}
.contact .data picture div {
  padding-left: 1.5em;
}
.contact .data picture div h3 {
  font-family: "Old Standard TT";
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 1em;
}
.contact .data picture div h4 {
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(119, 119, 119);
}
.contact .map {
  padding-bottom: 2em;
  padding-inline: 1.5em;
}
.contact .map .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 8em;
}
.contact .map .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact .form {
  padding-block: 2em;
  padding-bottom: 2em;
  padding-inline: 1.5em;
  text-align: center;
}
.contact .form__input-container {
  position: relative;
}
.contact .form__input-container input[type=text] {
  border: none;
  background-color: rgb(248, 248, 248);
  padding: 1.5em;
  padding-left: 4.5em;
  width: 100%;
  margin-block: 0.5em;
}
.contact .form__input-container textarea {
  border: none;
  background-color: rgb(248, 248, 248);
  padding: 1.5em;
  padding-left: 4.5em;
  width: 100%;
  margin-block: 0.5em;
  margin-bottom: 1em;
  font-family: Roboto;
  font-size: 0.85rem;
  font-weight: 400;
  color: rgb(119, 119, 119);
}
.contact .form__input-container img {
  height: 1.2em;
  position: absolute;
  left: 1.5em;
  top: 1.5em;
}

@media only screen and (min-width: 1000px) {
  .contact .data {
    text-align: center;
    margin: auto;
  }
  .contact .data picture {
    width: 20em;
    display: inline-flex;
  }
  .contact .map {
    padding-inline: 20%;
  }
  .contact .form {
    padding-inline: 20%;
  }
}/*# sourceMappingURL=contact.css.map */