@import ../variables
    
@import ../components/header
@import ../components/button
@import ../components/nav
@import ../components/card
@import ../components/footer
@import ../components/room
@import ../components/rooms-slider

.room-details
    .related
        padding-block: 4em

        h4
            @include SmallTitles(black)
            margin-inline: 1.5rem
            padding-bottom: 0.5em
            border-bottom: 1px solid $lightGray