@import ../variables
    
@import ../components/header
@import ../components/button
@import ../components/nav
@import ../components/card
@import ../components/footer
@import ../components/room
@import ../components/rooms-slider

.room-details
    .related, .amentities, .cancellation
        padding-block: 2em

        h1
            @include SmallTitles(black)
            margin-inline: 1.5rem
            padding-bottom: 0.5em
            border-bottom: 1px solid $lightGray

    .amentities
        article
            padding-inline: 1.5em

            ul
                list-style: none
                column-count: 2
                padding-top: 1em

            li
                list-style: none
                display: flexbox
                padding-block: 0.5em
                align-items: center

                img
                    display: inline-flex
                    padding-right: 0.5em
                    width: 1.2em
                    height: 1.2em

                p
                    display: inline-flex
                    font-family: "Archivo"
                    font-size: 0.85rem
                    color: $grayText

    .cancellation
        p
            padding-inline: 1.5em
            padding-top: 1.5em
            @include Text

    .autor
        padding-block: 2em
        padding-inline: 1.5em
        text-align: center

        div
            position: relative
            margin: auto
            height: 10em
            width: 10em
            border-radius: 10em
            background-image: url("../public/yo.jpeg")
            background-size: 10em
            margin-bottom: 1em

            img
                position: absolute
                top: 0
                right: 0
        
        h2
            @include SmallTitles
            padding-block: 0.4em

        h4
            @include Subtitles($mainColor)
            padding-block: 0.4em

        p
            @include Text
            padding-top: 1em

@media only screen and (min-width: 1000px)

    .room-details
        main
            max-width: 70em
            margin: auto

            .amentities
                ul
                    column-count: 3
